apiVersion: v1
kind: Secret
metadata:
  name: users-service-secret
  labels:
    app: users-service
type: Opaque
stringData:
  JWT_SECRET: "CAMBIAR_POR_SECRET_JWT_SEGURO"  # Cambiar en producción
  # Puedes generar un secret seguro con: openssl rand -base64 32
